<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  
    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
      <mat-card *ngIf="dish">
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3> <!--check for problrm*/ -->
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-list *ngIf="dish">
      <h2>Comments</h2>
      <mat-list-item *ngFor="let comment of dish.comments">
        
        <p mat-line>{{comment.comment}}</p>
        <p mat-line> {{comment.rating}} Stars </p>
        <p mat-line> 
          <span>--{{comment.author}} </span>
          <span>{{comment.date | date}}</span>
        </p>
       
      </mat-list-item>
    </mat-list>
      <mat-list *ngIf="commentForm.valid">
         <mat-list-item>
            <p mat-line>{{ commentForm.get('comment').value }}</p>
            <p mat-line>{{ commentForm.get('rating').value }} stars</p>
            <p mat-line>-- {{ commentForm.get('author').value }}</p>
         </mat-list-item>
      </mat-list>
      <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()" class="form-size">
      <p>
         <mat-form-field class="full-width">
            <input matInput formControlName="author" placeholder="Name" type="text" required>
            <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
         </mat-form-field>
      </p>
      <p>
         <mat-slider min="1" max="5" step="1" tickInterval="1" thumbLabel="true" formControlName="rating"></mat-slider>
      </p>
      <p>
         <mat-form-field class="full-width">
            <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
            <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
         </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
      </form>
   </div>
   <div [hidden]="dish  || errMess ">
      <mat-spinner></mat-spinner>
      <h4>Loading . . . Please Wait</h4>
   </div>

   <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>